body {
  background-color: #bacde1 !important;
  color: black;
}

section {
  width: 1024px;
  margin: 0 auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;
}

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    float: left;
}

nav li a:hover {
    background-color: rgba(69,167,186,0.5);
}

a, a:visited {
    color: black !important;
}

a:hover, a:focus, a:active {
    color: #ff0000 !important;
}
