{% extends 'app/layout.html.twig' %}

{% block header %}<h1>AGENDA D'EVENEMENT</h1><br/><h2>Evénements associé à la categorie</h2>{% endblock %}

{% block content %}

    <h3>Evénéments associés: </h3>{{categorie.nom}}


    {% endblock %}
